<ion-header [translucent]="true">
  <ion-toolbar color="warning">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>

    <ion-title class="centrado">Restablecer contraseña</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card [formGroup]="userEmail">
    <ion-card-header size="full">
      <ion-card-title size="large">Introduce tu correo institucional</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-input [(ngModel)]="emailV" formControlName="email" size="large" type="email" label="Correo Institucional"
          label-placement="floating" fill="outline" placeholder="@duocuc.cl"></ion-input>
      </ion-item>


      <ion-button (click)="onReset()" class="degradado" shape="round" size="full" fill="clear">Enviar</ion-button>

    </ion-card-content>


  </ion-card>
</ion-content>