<ion-header>
  <ion-toolbar color="Warning">
    <ion-title>resetpassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="centrado" size="large">Restablecer contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content [formGroup]="userEmail">
      <ion-card-header size="full">
        <ion-card-title>Introduce tu correo institucional</ion-card-title>
      </ion-card-header>


      <ion-item>
        <ion-input [(ngModel)]="emailV" formControlName="email" size="large" type="email" label="Correo Institucional" label-placement="floating" fill="outline"
          placeholder="@duocuc.cl"></ion-input>
      </ion-item>


      <ion-button (click)="onReset()" class="degradado" shape="round" size="full" fill="clear">Enviar</ion-button>

    </ion-card-content>


  </ion-card>
</ion-content>