<ion-header [translucent]="true">
  <ion-toolbar color="warning">

    <ion-title>Perfil</ion-title>

    <ion-buttons slot="end" (click)="logout()">
      <ion-icon name="exit"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">

  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="https://elcomercio.pe/resizer/xvcflv5nZ6qztMCIojBYfROeCmo=/1200x800/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/J5TZJL65YBB2JN5TCPZBJVNJTQ.webp" alt="">
      </div>
    </div>
    <div class="card-body">
      <div class="user ion-text-center">
        <h3 class="nombre">Francisco Julliet</h3>
        <h5 class="correo">f.julliet profesor.duoc.cl</h5>


      </div>
    </div>
  </div>




</ion-content>