<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homeprofesor"></ion-back-button>
    </ion-buttons>
    <ion-title>Nombre Profesor</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="person" (click)="perfil()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="button-container">
    <ion-button expand="full" color="light" (click)="clases()">Clases</ion-button>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="../../../../assets/icon/horario.png" />
    </ion-thumbnail>
  </div>
</ion-content>