.centrado{
    display: grid;
    place-content: center;
}

img{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 1rem;
}

.degradado {
    --background: linear-gradient(15deg, rgb(26, 23, 214) 0%, rgb(218, 185, 38) 100%);
    --color: #0b0b0b;
}