<ion-header [translucent]="true">
  <ion-toolbar class="degradado">
    <ion-title>CODE QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-card class="centrado" class="img">
    <img alt="Silhouette of mountains" src="./assets/icon/codigo-qr.jpg" />
  </ion-card>
</ion-content>

<ion-content>  
  <ion-card class="centrado">
    <ion-button expand="block" class="degradado">Asistencia registrada</ion-button>
    <ion-button expand="block" class="degradado">Fuera de horario</ion-button>
    <ion-button expand="block" class="degradado">Fuera de locación</ion-button>
  </ion-card>
</ion-content>