<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homeprofesor"></ion-back-button>
    </ion-buttons>
    <ion-title>Clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
</ion-header>
<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item-sliding>
      <ion-item [button]="true">
        <ion-label>Programacion de Base de Datos 004D</ion-label>
        <ion-label>LC12</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="list-outline" (click)="lista()"></ion-icon>
        </ion-item-option>
        <ion-item-option color="medium" expandable="true">
          <ion-icon slot="icon-only"  name="qr-code-outline" (click)="qr()"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item [button]="true">
        <ion-label>Programacion de Aplicaciones Moviles 009D</ion-label>
        <ion-label>LC11</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="list-outline" (click)="lista()"></ion-icon>
        </ion-item-option>
        <ion-item-option color="medium" expandable="true">
          <ion-icon slot="icon-only"  name="qr-code-outline" (click)="qr()"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item [button]="true">
        <ion-label>Consulta Base de Datos 001F</ion-label>
        <ion-label>LC8</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="list-outline" (click)="lista()"></ion-icon>
        </ion-item-option>
        <ion-item-option color="medium" expandable="true">
          <ion-icon slot="icon-only"  name="qr-code-outline" (click)="qr()"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item [button]="true">
        <ion-label>Proceso de Portafolio 003P</ion-label>
        <ion-label>LC10</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="list-outline" (click)="lista()"></ion-icon>
        </ion-item-option>
        <ion-item-option color="medium" expandable="true">
          <ion-icon slot="icon-only"  name="qr-code-outline" (click)="qr()"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item [button]="true">
        <ion-label>Estadisitica Descriptiva 005T</ion-label>
        <ion-label>LC4</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="list-outline" (click)="lista()"></ion-icon>
        </ion-item-option>
        <ion-item-option color="medium" expandable="true">
          <ion-icon slot="icon-only"  name="qr-code-outline" (click)="qr()"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>